body {
    background-color: rgba(105, 119, 100, 1);
    color: #fff;
}

#menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    margin-top: 3rem;
}

#menu a {
    position: relative;
    padding: 10px 20px;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 20px;
    margin-right: 20px;
}

h1 a {
    text-decoration: none;
    color: black;
}

a:link {
    color: #FFF;
    text-decoration: none;
}

a:visited {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#frame {
    background-color: white;
    border-radius: 40px;
    padding: 6rem;
    text-align: center;
}

#frame p {
    color: black;
}